.resuccess{
    background-color: rgb(6, 78, 6);  
}
.categoryForm{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    .catform{
        height: 15rem;
        width: 22rem;
        box-shadow: 0.2rem 0.4rem 1rem 0.1rem rgba(201,201,201,0.47);
        .left{
            padding: 2rem 5rem 10rem 3rem;
            display: flex;
            flex-direction: column;
            gap:1.3rem;
            .success{
                color: rgb(6, 70, 6);  
            }
            .error{
                color: rgb(174, 10, 10);  
            }
            input{
                width: 100%;
                border: none;
                border-bottom: 1px solid gray;
                outline: none;
                background-color: rgb(241, 244, 245);
            }
            input[type=file]{
                border: none;
            }
            .submit{
                width: 4rem;
                height: 2rem;
                background-color: rgb(108, 108, 235);
                color: white;
                border: 0.5px solid gray;
                cursor: pointer;
                border-radius: 2px;
                &:hover{
                  background-color: rgb(91, 91, 253);
                }
            }
            .image{
                display: flex;
                gap: 5rem;
            }
        }
    }
    
}