.widget{
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 0.625rem;
    box-shadow: 0.2rem 0.4rem 1rem 0.1rem rgba(201,201,201,0.47);
    height: 6.25rem;
    .left,.right{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .title{
            font-size: 0.825rem;
            font-weight: bold;
            color:gray;
        }
        .counter{
           font-size:1.25rem ; 
           font-weight: 300;
        }
        .link{
            font-size: 0.9rem;
            width: max-content;
            border-bottom: 1px solid gray;
            cursor: pointer;
        }
        .percentage{
            font-size: 1rem;
            display: flex;
            align-items: center;

            &.positive{
                color: green;
            }
            &.negative{
                color: red;
            }
        }
        .icon{
            font-size: 1rem;
            padding: 0.5rem;
            border-radius: 0.5rem;
            align-self: flex-end;
        }
    }
}