.header{
    margin:1rem;
    padding:0 4.8rem;
    height:10rem;
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:relative;
    .logo{
        height:5rem
    }
}