.productForm{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    
    form{
        width: 90%;
        box-shadow: 0.2rem 0.4rem 1rem 0.1rem rgba(201,201,201,0.47);
        .formData{
            width: 90%;
            padding: 2rem;
            display: flex;
            flex-direction: column;
            gap:1.3rem;
            .image{
                display: flex;
                gap: 10rem;
                .image-input{
                    display: flex;
                    flex-direction: column;
                    .image-button{
                        cursor: pointer;
                        margin-top: 1rem;
                    }
                }
                .image-item{
                    display: flex;
                    .image{
                        gap: 4rem;
                        height: 8rem;
                        width: 8rem;
                    }
                }
            }
            textarea{
                width: 100%;
            }
            input{
                width: 100%;
                border: none;
                border-bottom: 1px solid gray;
                outline: none;
                background-color: rgb(241, 244, 245);
            }
            input[type=file]{
                border: none;
            }
            textarea{
                outline: none;
                height: 5rem;
                background-color: rgb(241, 244, 245);

            }
            
            select{
                outline: none;
            }
            .radiocheck{
                display: flex;
                .title{
                    padding-right: 1rem;
                }
                input{
                    width: 2rem;
                }
            }
            .submit{
                margin-top: 2.7rem;
                width: 4rem;
                height: 2rem;
                background-color: rgb(108, 108, 235);
                color: white;
                border: 0.5px solid gray;
                cursor: pointer;
                border-radius: 2px;
                &:hover{
                  background-color: rgb(91, 91, 253);
                }
            }
        }

    }
}